*{
	margin:0;
	padding:0;
}
body{
	background: #ddd;
}
header{
	height: 100px;
	background: #38bd02;
	border-radius: 0 0 3px 3px;
}
div{
	display: inline-block;
}
a{
	text-decoration: none;
}
.logo{
}
.logo img{
	margin: 5px 0 5px 600px;
	width: 100px;
	float: left;
	transition: transform 2s;
}
.logo img:hover{
	transform: rotate(360deg);
}
#logo_text {
	margin: 30px 10px ;
	float: left;
}
.logo a{
	color: #000;
}
.logo a:hover {
	color: #fff;
}
.menu{
	margin: 0 0 0 1px;
}
.menu>ul>li{
	width: 6%;
	list-style: none;
	background: #151515;
	float: left;
	text-transform: uppercase;
	padding: 10px 40px;
	border-right: 5px solid #055600;
	border-radius: 0 0 15px 15px;
	position: relative;
	text-align: center;
}
.menu ul li a{
	color: #fff;
	font-weight: bold;
}
.menu ul li ul{
	position: absolute;
	display: none;
	z-index: 100;
	top:38px;
	left: 0;
	width: 103%;
	background: #151515;
}
.menu ul li ul li{
	border-top: 2px solid #055600;
	border-right: 5px solid #055600;
	list-style: none;
	padding: 10px 10px;
	font-size: 14px;
}
.menu ul li ul li a{
	font-size: 15px;
}
.menu ul li:hover ul{
	display: block;
}
.cham:hover{
	border-radius: 0;
}
.menu ul li:hover{
	background: #38bd02;
}
section{
	clear: both;
	width: 60%;
	margin: 10px auto;
	padding-top: 10px;

}
#name{
	background: #38bd02;
	display: inline-block;
	text-transform: uppercase;
	padding: 8px 10px 5px;
	border-radius: 10px 15px 0 0;
}

#main{
	border-top: 5px solid #38bd02;
	background: #fff;
	width: 100%;
	height: 700px;
	display: block;
	width: 100%;
	margin: auto;
	padding: 10px;
}
.main-head{
	width: 40%;
	margin: 10px auto;
	padding: 10px;
	display: block;
}
.main-signup{
	width: 70%;
	margin: 10px 15%;
	/*border:1px solid #999;*/
}
fieldset{
	border-radius: 10px;
}
.form-group{
	margin:10px 0;
}
label:first-child{
	width: 200px;
	display: inline-block;
	padding-left: 10px;
}
.normal-input{
	width: 200px;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 5px;
}
#submit , #reset{
	width: 100px;
	padding: 5px 0;
	text-transform: uppercase;
	border-radius: 10px;
	color: #fff;
}
#submit{
	background: #f21136;
	border: 1px solid #f21136;
}
#submit:hover{
	background: #fff;
	color: #f21136;
}
#reset{
	background:#39d37b;
	border:1px solid #39d37b;
}
#reset:hover{
	background: #fff;
	color: #39d37b;
}
.main-login{
	width: 70%;
	margin: 10px 15%;
	display: none;
}












footer{
	background: #151515;
	padding: 40px;
	text-align: center;
	color: #b8b8b8;
}
.lienket{
	display: block;
}
.lienket img{
	width: 50px;
	margin: 5px;
	border-radius: 50%;
	transition: transform 1s;
}
.lienket img:hover{
	transform: rotate(360deg);
}
.footer-menu{
	display: inline-block;
	margin: 30px 0;
}
.footer-menu ul li{
	list-style: none;
	float: left;
	padding: 0 10px;
	border-left: 2px solid #fff;
}
.footer-menu ul li:first-child {
	border-left: 0;
}
.footer-menu ul li a{
	color: #35b501;
}
.footer-menu ul li a:hover{
	color: #fff;
}
footer p{
	clear: both;
}
aside img{
	width: 40px;
}
.left{
	position: fixed;
	left: -10px;
	border-radius: 0 50% 50% 0;
	transition: padding-left 0.5s;
}
.left:hover{
	padding-left: 20px;
}
.face{
	top:200px;
	background: #3b5998;
}
.tube{
	top:250px;
	background: #cd201f;
}
.twitter{
	top:300px;
	background: #2aaae0;
}